/* Slider styles */
.offers-list {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 3.5rem -5px 0;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .offers-list .slick-track, .offers-list .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .offers-list .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    width: 90%;
    overflow: hide; }
    .offers-list .slick-dots button {
      width: 4.6875rem;
      height: 5px;
      font-size: 0;
      background: rgba(201, 69, 59, 0.1);
      border: none;
      border-radius: 10px; }
    .offers-list .slick-dots li {
      margin: 0 5px;
      list-style: none; }
      .offers-list .slick-dots li.slick-active button {
        background-color: #C9453B; }
  .offers-list .slick-list {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 3rem;
    overflow: hidden; }
    .offers-list .slick-list:focus {
      outline: none; }
    .offers-list .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }
  .offers-list .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-right: auto;
    margin-left: auto; }
    .offers-list .slick-track::before, .offers-list .slick-track::after {
      display: table;
      content: ""; }
    .offers-list .slick-track::after {
      clear: both; }
    .slick-loading .offers-list .slick-track {
      visibility: hidden; }
  .offers-list .slick-slide {
    float: left;
    min-width: 0;
    min-height: 1px;
    margin: 0 35px;
    text-align: left; }
    [dir="rtl"] .offers-list .slick-slide {
      float: right; }
    .offers-list .slick-slide.slick-loading img {
      display: none; }
    .offers-list .slick-slide.dragging img {
      pointer-events: none; }
    .slick-initialized .offers-list .slick-slide {
      display: block; }
    .slick-loading .offers-list .slick-slide {
      visibility: hidden; }
    .slick-vertical .offers-list .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent; }

html {
  font-size: 16px; }

body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif; }

b {
  font-weight: bold; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3 {
  font-family: 'Gelasio', serif; }

h2, h3, h4 {
  font-weight: 500; }

h1 {
  font-size: 4.0625rem; }

h2 {
  font-size: 2.6875rem;
  text-align: center; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

.section-container {
  width: 1140px;
  margin: 0 auto; }

.section_white {
  width: 100%;
  margin: 9.3rem 0;
  color: black;
  text-align: center;
  background-color: #fff; }

.title-text {
  width: 100%;
  height: 3.625rem;
  margin: 2rem 0 2.8rem;
  text-align: center; }

.logo {
  font-family: 'Ribeye', cursive;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1px;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
  .logo:hover {
    -webkit-box-shadow: 0 2px 0 #C9453B;
    box-shadow: 0 2px 0 #C9453B; }

.text-block {
  font-size: 1.125rem;
  line-height: 160%; }

.img_rounded {
  width: 100%;
  border-radius: 10px; }

.menu-btn {
  position: relative;
  width: 50px;
  z-index: 3;
  display: none;
  height: 50px; }
  .menu-btn span {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 100%;
    height: 5px;
    background-color: white;
    -webkit-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s; }
    .menu-btn span::before {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      width: 100%;
      height: 5px;
      background-color: white;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 5px;
      background-color: white;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
  .menu-btn:hover span, .menu-btn:hover span::before, .menu-btn:hover span::after {
    background-color: #C9453B; }

.menu-btn_active span {
  height: 0; }
  .menu-btn_active span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }
  .menu-btn_active span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }

.btn {
  color: white;
  background-color: #C9453B;
  border: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s; }
  .btn:hover {
    background-color: #a4362d; }

.header__btn {
  width: 10.1875rem;
  min-height: 3.1875rem; }

.welcome__btn {
  width: 11.6875rem;
  min-height: 3.6875rem; }

.footer__btn {
  width: 6.4375rem;
  min-height: 2.75rem; }

.subscribe__input {
  width: 12.1875rem;
  min-height: 2.75rem;
  padding: 0.6rem 1rem;
  border: 1px solid #f5f5f5;
  border-radius: 5px; }
  .subscribe__input:focus, .subscribe__input:hover {
    border-color: #C9453B; }

.social-list {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }
  .social-list .social-item {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.6rem;
    font-size: 0.8rem;
    color: white;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
    transition: -webkit-box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
    .social-list .social-item:hover {
      -webkit-box-shadow: 0 1px 4px black;
      box-shadow: 0 1px 4px black; }
    .social-list .social-item .social-link {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.background_colored-darkslateblue {
  background-color: darkslateblue; }

.background_colored-purple {
  background-color: purple; }

.background_colored-skyblue {
  background-color: skyblue; }

.background_colored-black {
  background-color: black; }

.nav-block {
  width: 50%;
  height: 100%;
  margin-left: 3rem; }
  .nav-block .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.125rem; }
    .nav-block .nav-list .nav-item {
      min-height: 2rem;
      padding: 0.2rem 1.45rem;
      border-radius: 5px;
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav-block .nav-list .nav-item .nav-item__link {
        width: 100%;
        height: 100%; }
      .nav-block .nav-list .nav-item:hover {
        -webkit-box-shadow: 0 0 0 3px #C9453B;
        box-shadow: 0 0 0 3px #C9453B; }

.header {
  width: 100%; }
  .header .header-holder {
    width: 100%;
    min-height: 7rem;
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: chocolate; }
  .header_fixed .header-holder {
    min-height: 5rem; }

.welcome {
  height: 900px;
  color: white;
  background-image: url(../images/cover.png);
  background-position: center;
  background-size: cover; }
  .welcome .section-container .welcome__title {
    width: 70%;
    margin: 2.6em 0 2rem -0.8rem;
    line-height: 120%; }
  .welcome .section-container .welcome__text {
    width: 40%;
    margin-bottom: 2.3rem;
    letter-spacing: 1.6; }

.item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.information-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .information-holder .location__text {
    padding: 0 19%; }
  .information-holder .location-list {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .information-holder .location-list .location-item {
      width: 31.5%;
      text-align: center; }
      .information-holder .location-list .location-item .location__link {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
        transition: -webkit-box-shadow 0.5s ease 0s;
        transition: box-shadow 0.5s ease 0s;
        transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
        .information-holder .location-list .location-item .location__link:hover {
          -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
        .information-holder .location-list .location-item .location__link .location-img {
          border-radius: 10px 10px 0 0; }
        .information-holder .location-list .location-item .location__link .location-information-holder {
          width: 100%;
          padding-bottom: 2rem;
          border-radius: 0 0 10px 10px;
          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
          .information-holder .location-list .location-item .location__link .location-information-holder .item-title {
            margin: 2.5rem 0 1rem; }
          .information-holder .location-list .location-item .location__link .location-information-holder .item-text {
            padding: 0 9%; }

.offers__text {
  padding: 0 29%; }

.item__title {
  padding: 1em 0 1.2rem; }

.offer-link {
  font-family: 'Roboto', sans-serif; }
  .offer-link .offer__img {
    width: 100%;
    border-radius: 10px; }
  .offer-link .item-information, .offer-link .item__duration {
    margin-bottom: 1rem; }
    .offer-link .item-information .item__location, .offer-link .item__duration .item__location {
      margin-right: 3rem;
      font-size: 1.25rem; }
      .offer-link .item-information .item__location::before, .offer-link .item__duration .item__location::before {
        margin-right: 0.5rem;
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;
        font-weight: 900;
        color: red;
        content: "\f3c5"; }
    .offer-link .item-information .item__star, .offer-link .item__duration .item__star {
      font-size: 1.125rem; }
      .offer-link .item-information .item__star::before, .offer-link .item__duration .item__star::before {
        margin-right: 0.5rem;
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;
        font-weight: 900;
        color: #FFC700;
        content: "\f005"; }

.blog__title-text {
  padding: 0 24%; }

.news__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px; }

.news__title {
  margin: 2.5rem 0 1rem; }

.news-img-holder {
  min-width: 48%;
  margin-right: 2rem; }

.user-name, .news-list .news-item_last .user-name_medium {
  font-size: 1.25rem;
  line-height: 1.5; }

.news-list {
  width: 100%;
  height: 47rem;
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .news-list .news-item {
    width: 48%;
    height: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .news-list .news-item .news-information-holder .news__text {
      max-width: 100%; }
  .news-list .news-item_last {
    width: 48%;
    height: 100%;
    margin-right: 1.875rem; }
    .news-list .news-item_last .news__text_last {
      padding: 0 16% 1rem 0; }
    .news-list .news-item_last .user-name_medium {
      font-weight: 500; }

.footer {
  min-height: 21.75rem;
  padding: 7.8rem 0;
  color: black;
  background: rgba(38, 148, 153, 0.04); }
  .footer .footer-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .footer .footer-holder .footer-block_left {
      width: 68.3%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .footer .footer-holder .footer-block_left .contact-block {
        width: 30%;
        height: 100%; }
        .footer .footer-holder .footer-block_left .contact-block .contact__text {
          margin-top: 2.5rem;
          line-height: 205%;
          letter-spacing: 1px; }
      .footer .footer-holder .footer-block_left .footer-nav {
        width: 63%;
        height: 13.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .footer .footer-holder .footer-block_left .footer-nav .footer-nav-item {
          height: 20%;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 1px; }
          .footer .footer-holder .footer-block_left .footer-nav .footer-nav-item .footer-nav-item__link {
            -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
            transition: -webkit-box-shadow 0.5s ease 0s;
            transition: box-shadow 0.5s ease 0s;
            transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
          .footer .footer-holder .footer-block_left .footer-nav .footer-nav-item:hover .footer-nav-item__link {
            -webkit-box-shadow: 0 2px 0 #C9453B;
            box-shadow: 0 2px 0 #C9453B; }
    .footer .footer-holder .subscribe-block {
      width: 31.7%; }
      .footer .footer-holder .subscribe-block .subscribe__title {
        margin-bottom: 3rem;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 0.06em; }
      .footer .footer-holder .subscribe-block .subscribe-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: unset;
        flex-wrap: unset;
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-right: 2rem; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
  .section-container {
    width: 1005px; }
  .section_white {
    margin: 5rem 0; }
  .welcome {
    height: 100vh; }
    .welcome .section-container .welcome__title {
      width: 90%;
      margin: 7% 0 2rem;
      line-height: 120%; }
    .welcome .section-container .welcome__text {
      width: 70%; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px; }
  .section-container {
    width: 650px; }
  h1 {
    font-size: 3rem; }
  .header .header-holder .nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    position: absolute;
    top: -130%;
    left: 50%;
    width: 25%;
    height: auto;
    margin-left: 0;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .header .header-holder .nav-block .nav-list .nav-item {
      width: 100%;
      margin-bottom: 0.5rem;
      text-align: center;
      background-color: chocolate;
      border-radius: none;
      -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s , box-shadow 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s , box-shadow 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s; }
      .header .header-holder .nav-block .nav-list .nav-item:hover {
        color: chocolate;
        background-color: white;
        -webkit-box-shadow: 0 0 0 3px chocolate;
        box-shadow: 0 0 0 3px chocolate; }
      .header .header-holder .nav-block .nav-list .nav-item .nav-item__link {
        width: 100%; }
  .header .header-holder .nav_active {
    top: 5.5rem;
    opacity: 1; }
  .header .header-holder .menu-btn {
    display: block; }
  .welcome {
    height: 100vh; }
    .welcome .section-container .welcome__title {
      width: 90%;
      margin: 10% 0 2rem;
      line-height: 120%; }
    .welcome .section-container .welcome__text {
      width: 70%; }
  .news__title {
    margin: 0.5rem 0; }
  .news-list {
    height: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .news-list .news-item {
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      height: 31%; }
      .news-list .news-item .news__img {
        height: 90%; }
      .news-list .news-item .news__text {
        max-width: 100%;
        padding-bottom: 0.5rem; }
    .news-list .news-item_last .news__img_last {
      width: 100%;
      height: auto; }
    .news-list .news-item_last .news__text_last {
      padding: 0 16% 1rem 0; } }

@media only screen and (max-width: 576px) {
  .section-container {
    width: 520px; }
  .blog__title-text {
    padding: 0 14%; }
  .location__text, .offers__text, .blog__title-text {
    padding: 0 10%; }
  .news-list {
    height: auto; }
    .news-list .news-item_last {
      width: 100%;
      margin-bottom: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .news-list .news-item_last .news-img-holder_last {
        min-width: 48%;
        margin-right: 2rem; }
      .news-list .news-item_last .news__text_last {
        padding: 0 1rem 1rem 0; }
    .news-list .news-item {
      width: 100%;
      height: auto;
      margin-bottom: 2rem; }
  .footer .footer-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .footer .footer-holder .footer-block_left, .footer .footer-holder .subscribe-block {
      width: 100%;
      margin-bottom: 2rem; }
    .footer .footer-holder .subscribe-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: unset;
      flex-wrap: unset;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .footer-holder .subscribe-block .subscribe__title {
        margin-bottom: 0; }
      .footer .footer-holder .subscribe-block .subscribe-form {
        width: 60%;
        padding-right: 0; } }
