.item-img {
    width: 100%;
    object-fit: cover;
}

.item-title {
    margin: 2.5rem 0 1rem;
}

.item-text {
    padding: 0 9%;
}

.information__holder {
    width: 100%;

    @include flex(null,column,left,center);

    .location__text {
        padding: 0 19%;
    }

    .location-list {
        width: 100%;
        min-height: 31.25rem;
        
        @include flex(null, unset, space-between, flex-start);

        .location-item {
            width: 31.5%;
            height: 100%;
            text-align: center;

            .location-img {
                max-height: 20.6875rem;

                border-radius: 10px 10px 0 0;    
            }
        }
    }
}
