@media only screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    // h1 {
    //     font-size: 3.5rem;
    // }

    .section-container {
        width: 1005px;
    }

    .section_white {
        margin: 3rem 0;
    }

    .welcome {
        height: 100vh;

        .section-container {
            .welcome__title {
                width: 90%;
                margin: 7% 0 2rem;
                line-height: 120%;
            }

            .welcome__text {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;

        .section-container {
            width: 650px;
        }

        .welcome {
            height: 100vh;

            .section-container {
                .welcome__title {
                    width: 90%;
                    margin: 10% 0 2rem;
                    line-height: 120%;
                }

                .welcome__text {
                    width: 70%;
                }
            }
        }

        .news-list {
            height: 30rem;
        
            @include flex(wrap,column,left,stretch);
        
            .news-item {
                justify-content: left;
                height: 31%;
        
                .news__title {
                    margin: 1rem 0;
                }

                .news__img {
                    height: 90%;
                    padding-right: 1rem;
                    border-radius: 10px;
                }
        
                .news__text {
                    max-width: 100%;
                    padding-right: 0;
                }
            }

            .news-item_last {
                .news__img_last {
                    width: 100%;
                    height: auto;
                }
        
                .news__text_last {
                    padding: 0 16% 1rem 0;
                }
            }
        }
    }

    h1 {
        font-size: 3rem;
    }

    .header .header-holder {
        .nav-block {
            @include flex(unset,column,center, flex-start);
            @include transition(top);

            position: absolute;
            top: -130%;
            left: 50%;
            width: 25%;
            height: auto;
            margin-left: 0;
            opacity: 0;
            transform: translateX(-50%);

            .nav-list .nav-item {
                width: 100%;
                margin-bottom: 0.5rem;
                text-align: center;
                background-color: chocolate;
                border-radius: none;

                @include transition(color background-color box-shadow);

                &:hover {
                    color: chocolate;
                    background-color: white;
                    box-shadow: 0 0 0 3px chocolate;
                }

                .nav-item__link {
                    width: 100%;
                }
            }
        }

        .nav_active {
            top: 5.5rem;
            opacity: 1;
        }

        .menu-btn {
            display: block;
        }
    }
}

// @media only screen and (max-width: 576px) {
   
// }
