.item__title {
    padding: 1em 0 1.2rem;
}

.offer {
    &__text {
        padding: 0 29%;
    }

    &-list {
        width: 100%;
        @include flex(unset, column, center, normal);
    }

    &-item {
        margin-right: 80px;
        @include transition(color);
        &:hover {
            color: $orange;
        }
    }

    &-link {
        width: 100%;
        height: 100%;

        .item-information, .item__duration {
            margin-bottom: 1rem;

            .item__location {
                margin-right: 3rem;
                font-size: 1.25rem;

                &::before {
                    margin-right: 0.5rem;
                    font-family: font(awesome);
                    font-size: 1rem;
                    font-weight: 900;
                    color: $red;
                    content: "\f3c5";
                }
            }

            .item__star {
                font-size: 1.125rem;

                &::before {
                    margin-right: 0.5rem;
                    font-family: font(awesome);
                    font-size: 1rem;
                    font-weight: 900;
                    color: $yellow;
                    content: "\f005";
                }
            }
        }
    }
}
