.social-list {
    margin-top: 1.5rem;
    
    @include flex(unset, unset, left, unset);

    .social-item {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 1.6rem;
        font-size: 0.8rem;
        color: white;
        border-radius: 3px;

        @include flex(unset, unset, center, center);
        @include transition(box-shadow);

        &:hover {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
            -3px 0 2px -3px rgba(0, 0, 0, .8),
            3px 0 2px -3px rgba(0, 0, 0, .8),
            0 0 4px rgba(0, 0, 0, .1) inset;
        }

        .social-link {
            width: 100%;
            height: 100%;

            @include flex(unset, unset, center, center);

        }
    }
}

@each $color in darkslateblue, purple, skyblue, black {
    .background_colored-#{$color} {
        background-color: $color;
    }
}
