html {
    font-size: 16px;
}

body {
    font-family: $roboto;
    color: black;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

b {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: $gelasio;
}

h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 4.0625rem;
}

h2 {
    font-size: 2.6875rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.section-container {
    width: 1140px;
    margin: 0 auto;
}

.information-holder {
    width: 100%;
    margin: 9.3rem 0;

    @include flex(null,column,left,center);
}

.title-text {
    width: 100%;
    min-height: 3.625rem;
    margin: 2rem 0 2.8rem;
    text-align: center;
}

.text-block {
    font-size: 1.125rem;
    line-height: 160%;
}

.img_rounded {
    width: 100%;
    border-radius: 10px;
}

.mail__link {
    @include transition(box-shadow);

    &:hover {
        box-shadow: $redUnderline;
    }
}
