section.welcome
    .section-container
        include header.pug
        h1.welcome__title
            b Railtrips To Here, There And Everywhere!
        p.welcome__text.text-block We all wish to start our year the best way possible and also according to a common belief if you have a great start to your.
        button.btn.welcome__btn Explore more