- 
  var footerNav = [
    {url: 'Services.html', name: 'Services'}, 
    {url: 'About.html', name: 'About'},
    {url: 'story.html', name: 'Our story'}, 
    {url: 'Benefits.html', name: 'Benefits'},
    {url: 'Branding.html', name: 'Branding'},
    {url: 'Legal.html', name: 'Legal'},
    {url: 'terms.html', name: 'Terms & Conditions'},
    {url: 'privecy.html', name: 'Privecy Policy'},
    {url: 'using.html', name: 'Terms of use'}
  ];

mixin footerNav(url, name)
    li.footer-nav-item
        a.footer-nav-item__link(href=url) #{name}

.footer
    .section-container.footer-holder
      .footer-block_left
        .contact-block
          a.logo(href="index.html") Trevland
          p.contact__text Contact us 
            a.mail__link(href="mailto:@shovasatkhira88.com") @shovasatkhira88.com
          ul.social-list 
            each i in socialMedia
              +socialList(i.iconPrefix, i.mediaUrl, i.iconBackground)
        ul.footer-nav
          each i in footerNav
              +footerNav (i.url, i.name)
      .subscribe-block 
        .subscribe__title SUBSCRIBE NOW
        form.subscribe-form(action="#")
          input.subscribe__input(type="email" placeholder="Email" required)
          button.btn.footer__btn(href="#") Send
