- 
  var headerNav = [
    {url: 'home.html', name: 'Home'}, 
    {url: 'Location.html', name: 'Location'}, 
    {url: 'Blog.html', name: 'Blog'}, 
    {url: 'About.html', name: 'About'}, 
    {url: 'contact.html', name: 'Contact'}
  ];

mixin navItem(url, name)
  li.nav-item
    a.nav-item__link(href=url) #{name}

.header
  .section-container
    .header-holder
      a.logo(href="index.html") Trevland
      nav.nav-block
        ul.nav-list
          each i in headerNav
            +navItem(i.url, i.name)
      a.menu-btn
        span
      button.btn.header__btn Booking now