doctype html
html(lang='en')
  head
    include head.pug    
  body
    include social-media.pug
    include 1welcome.pug
    include 2location.pug
    include 3offers.pug
    include 4blog.pug
    include 5footer.pug
    script(src='js/jquery-3.6.0.min.js')
    script(src='js/functions.js')